h1{
    width: 100%;
    background-color: slategray;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 48px;
}

li{
    margin: 48px;
}

.links-especificacoes{
    text-decoration: none;
    color: white;
    background-color: steelblue;
    border: 1px solid black;
    padding: 16px;
    font-size: 24px;
    margin: 8px;
}

.links-especificacoes:hover{
    background-color: rgba(70, 131, 180, 0.531);
    font-weight: bold;
}

.caixasModal{
    width: 700px;
    text-align: center;
    font-size: 24px;
}

.caixasModal::backdrop{
    background-color: rgba(0, 0, 0, 0.678);
}

.caixasModal button{
    padding: 8px 24px;
    font-size: 24px;
    font-weight: bold;
}

.caixasModal button:hover{
    background-color: #2f86d6;
    color: white;
}
.caixasModal a:hover{
    font-size: 32px;
    border: 1px solid;
    padding: 8px 24px;
    background-color: #2f86d6;
    color: white;
}

.caixasModal span{
    font-weight: bold;
}

.passo_tres{
    font-size: 24px;
}

.passo_tres h2{
    width: 100%;
    background-color: slategray;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 48px;
}

.concluido{
    background-color: hsla(60, 100%, 50%, 0.500);
}