* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width:1080px){
	html{
		font-size: 93.75%;
	}
}

@media(max-width:720px){
	html{
		font-size: 87.5%;
	}
}

@media(max-width:500px){
	html{
		font-size: 82.5%;
	}
}

@media(max-width:300px){
	html{
		font-size: 75.5%;
	}
}

:root {
    --white: #ffffff;
    --black: #000000;
    --royalBlue: #4467F6;
    --yellowGreen: #9DDE5D;
    --slateGray: #626778;
    --cornflowerBlue: #5D77DE;
    --rosyBrown: #896F67;

    --salmon: #DE7B5D;
    --dimGray: #53555E;
    --darkSlateGray: #363945;
    --darkGray: #1E2233;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.sectionProjetos{
    padding: 2rem;
}

.backGroundSlateGray{
    background-color: var(--slateGray);
}

.backGroundCornflowerBlue{
    background-color: var(--rosyBrown);
}

.larguraDaPagina{
    width: 1024px;
    margin: 0 auto;
}

.boxHeader{
    background-color: var(--royalBlue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 8rem;
}

.boxTitle {
    padding: 10px 10px 0 10px;
}

.boxSocialMedia {
    padding: 10px 10px 10px 0;
}

.linksSocialMedia {
    list-style: none;
    flex: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:0.5rem;
    flex-flow: wrap;
}

.linksSocialMedia a {
    display: flex;
    width: 4rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    margin-left:1rem;
    background-color: var(--cornflowerBlue);
    color: var(--white);
    border-radius: 5px;
    box-shadow: var(--black) 0.2rem 0.2rem 0.5rem;
}

.fa-brands, .fa-solid {
    font-size: 1.5rem;
}

.linksSocialMedia a:hover {
    background-color: var(--yellowGreen);
}

h1{
    font-size: 3rem;
    color: var(--white);
}

.subHeader{
    width: 100%;
    text-align: center;
}

h2{
    font-size: 2rem;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding: 1rem;
    width: 100%;
}

.conteudo{
    display: flex;
    padding: 1rem;
    width: 100%;
}

.nomeImagemProjeto{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeImagemProjeto h3{
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem;
}

.nomeImagemProjeto img{
    height: 12rem;
}

.descricao{
    padding: 1rem 0 0 1rem;
    flex: 1.5;
}

.descricao p{
    color: var(--white);
    font-weight: 500;
    line-height: 1.7rem;
    text-align: justify;
}

.descricao span{
    font-weight: bold;
    color: var(--darkSlateGray);
}

.descricao ul{
    padding-left: 2.5rem;
}

.descricao li{
    color: var(--white);
    font-weight: 500;
    line-height: 1.7rem;
}

.botaoDeAcessoAoProjeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
}

.botaoDoLink {
    text-decoration: none;
    width: 10rem;
    height: 3.5rem;
    margin-left: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;
    box-shadow: var(--black) 0.2rem 0.2rem 0.5rem;

    background-color: var(--cornflowerBlue);
    color: var(--white);

    font-size: 1.5rem;
    font-weight: 600;

    transition: background-color 0.5s;
    cursor: pointer;
}

.botaoDoLink:hover {
    background-color: var(--yellowGreen)
}

/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.rodape {
    display: flex;
    flex-direction: row;
    background-color:var(--royalBlue);
    padding: 1rem 0;
}

.textoRodape {
    color: var(--white);
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.textoRodape span{
    font-weight: bold;
    padding-left: 0.4rem;
}