h1 {
  text-align: center;
}
.container {
  border: 2px solid;
  background: #ececec;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.box-1, .box-2, .box-3, .box-4 {
  width: 100px;
  height: 100px;
  position: absolute;
}
.box-1 {
  background-color: red;
  left: 0;
  top: 0
}
.box-2 {
  background-color: black;
  left: 0;
  bottom: 0
}
.box-3 {
  background-color: green;
  top: 0;
  right: 0;
}
.box-4 {
  background-color: blue;
  right: 0;
  bottom: 0;
}

div {
  position: relative;
}

.ex02 p {
  width: 430px;
  font-family: cursive;
  font-size: 34px;
  text-align: center;
  color: #000000ad;
  margin: 0;
  position: absolute;
  top: 140px;
  left: 157px;
}

.container03 {
  width: 500px;
  padding: 30px;
  border: 5px solid;
  margin-top: 50px;
  font-size: 18px;
  position: relative;
}
.rotulo {
  width: 60px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -25px;
  left: 15px;
}

.lista {
  max-width: 425px;
  border: 5px solid black;
  padding: 20px;
}

.lista h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.lista li span {
  font-size: 40px;
  /* border-top: 1px solid gray; */
}

.lista li p {
  width: 250px;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: -5px;
  left: 125px;
}

.lista li {
  position: relative;
  list-style: none;
}

.lista li small {
  position: absolute;
  top: 15px;
  left: 55px;
}