*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Fraunces', serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
    --light_brown: #c4a47c;
    --white: #fff;
    --black: #000000;
    --brown: #604829;
    --gray: #666;
    --light_gray: #ACACAC;
}

.container{
    width: 100vw;
}

/* seção topo seção topo seção topo seção topo*/
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--brown);
}

header img{
    height: 100px;
    margin-left: 15%;
}

.links-topo{
    position: absolute;
    right: 15%;
    top: 35%;
}

.links-topo a {
    text-decoration: none;
    color: var(--light_brown);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-shadow: 5px 6px 3px var(--black);
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
    position: relative; 
}

.links-topo a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--light_gray); 
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}

.links-topo a:hover::after {
    width: 100%;
}

.links-topo a:hover{
    font-size: 20px;
}

/* banner */
#secao-banner{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/parallax-imagem1.png');
}

h1{
    font-family: 'Fraunces', serif;
    color: var(--white);
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-weight: normal;
}

.container-imagem-parallax{
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* seção informações */
.container-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 40vh;
    padding: 80px 0;
}

.container-texto h2{
    font-family: 'Oswald', sans-serif;
    color: var(--light_brown);
    padding: 16px;
}

.container-texto p{
    width: 1024px;
    padding: px 20px;
    text-align: center;
    line-height: 32px;
    font-family: 'Lato', sans-serif;
    color: var(--gray);
}

.imagem02{
    background-image: url('../assets/parallax-imagem2.jpg');
    background-color: var(--white);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem02 h3,
.imagem03 h3{
    font-family: 'Fraunces', serif;
    color: var(--white);
    font-style: italic;
    background-color: var(--brown);
    width: 500px;
    text-align: center;
    padding: 10px;
}

.imagem03{
    background-image: url('../assets/parallax-imagem3.jpg');
    background-color: var(--white);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* seção contatos seção contatos seção contatos seção contatos seção contatos */
#secao-contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#secao-contatos h2{
    width: 500px;
    text-align: center;
    background-color: var(--brown);
    color: var(--white);
    padding: 10px;
    position: absolute;
    top: 5%;
    font-family: 'Oswald', sans-serif;
}

#secao-contatos iframe{
    position: absolute;
    top: 18%;
}

.box-contatos{
    width: 500px;
    text-align: center;
    background-color: var(--brown);
    padding: 10px;
    position: absolute;
    top:78%;
}

.box-contatos p{
    color: var(--white);
    padding: 8px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 6px 10px var(--black);
}

.imagem04{
    background-image: url('../assets/parallax-imagem4.png');
    height: 100vh;
    width: 100%;
}
/* seção horários seção horários seção horários seção horários */
#secao-horarios{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secao-horarios h2{
    width: 500px;
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5%;
}

.lista{
    width: 768px;
}

.lista span{
    color: var(--light_brown);
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
}

.imagem05{
    background-image: url('../assets/cafeteria.jpg');
    height: 100vh;
    width: 100%;
}

.lista li{
    position: relative;
    display: flex;
    line-height: 54px;
}

.lista h3{
    font-style: normal;
    color: var(--white);
    font-family: 'Oswald', sans-serif;
}

.lista li div{
    width: 70%;
    height: 1px;
    background-color: var(--light_gray);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 70%;
}

.lista li p{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--light_gray);
    font-family: 'Oswald', sans-serif;
}

/* rodapé rodapé rodapé rodapé rodapé rodapé rodapé rodapé */
footer{
    position: relative;
    background-color: var(--black);
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    padding: 20px 0px;
}

footer p{
    color: var(--white);
    font-family: 'Oswald', sans-serif;
}

footer a{
    position: absolute;
    background-color: var(--light_brown);
    height: 65px;
    bottom: 70px;
    right: 60px;
    transition: all 0.5s ease-in-out;
    display: flex;
}

footer a:hover{
    height: 90px;
    padding: 8px;
}

footer a img{
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

footer a img:hover{
    border: 2px solid var(--gray);
}

footer span{
    color: var(--light_brown);
    font-family: 'Oswald', sans-serif;
}