.titulo_principal{
    background-color: brown;
    text-align: center;
    border-bottom: 2px solid;
    padding: 16px 0;
    width: 100%;
}

.questoes{
    border-top: 1px solid;
    padding: 16px 0 0 8px;
}

pre code {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

img {
    width: 250px;
}


/* //======= QUESTÕES =======// */

.q8907 img{
    width: 250px;
    height: 200px;
}

.q8907 img:hover {
    border-left: 3px solid blue;
}

.q8892 p:nth-child(2) {
    background-color: red;
}

.q8892 p:nth-child(odd) {
    font-weight: bold;
}

.q8897 tbody tr:nth-of-type(odd) {
    background-color: blue;
}

.q8897 tbody tr:nth-of-type(even) {
    background-color: red;
}

.q8900 section img {
    width: 80px;
}

.q8900 section img:first-child {
    width: 100%;
}

.q8901 section p:last-of-type {
    background-color: white;
    color: red;
}

.q8937 img {
    width: 350px;
    height: 100px;
    background-color: pink;
}

.q8937 img:hover {
    border: 3px solid blue;
}

section img:last-child {
    width: 100%;
}

.q8910 section span:last-child {
    border: solid red 3px;
}

.q8931 section:nth-child(even){
    background-color: grey;
}

.q8940 section p:hover {
    color: yellow;
}

.q8919{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

.q8919:hover {
    background-color: red;
}

.q8929 tbody tr:nth-of-type(odd) {
    color: blue;
}

.q8929 tbody tr:nth-of-type(even) {
    color: green;
}

.q8912 tbody tr:nth-child(odd) {
    background-color: yellow;
}

.q8912 tbody tr:nth-child(even) {
    background-color: green;
}

.q8893 img {
    opacity: 0.5;
}

.q8893 img:hover {
    opacity: 1;
}

.q8924 section p:nth-child(3) {
    color: red;
}

.q8928 div p:nth-of-type(3) {
    color: red;
}

.q8933 section:last-child {
    background-color: blue;
}

.q8916 div p:nth-child(even) {
    font-style: italic;
}

.q8925 img:last-of-type {
    background-color: red;
    padding: 20px;
}

.q8922 div:hover {
    background-color: blue;
}

.q8918 section img:last-of-type {
    padding-bottom: 10px;
}