.titulo_principal{
    background-color: brown;
    text-align: center;
    border-bottom: 2px solid;
    padding: 16px 0;
    width: 100%;
}

.questoes{
    border-top: 1px solid;
    padding: 16px 0 0 8px;
}

pre code {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}


/* //======= QUESTÕES =======// */

.q8907 img{
    width: 250px;
    height: 200px;
}

.q8907 img:hover {
    border-left: 3px solid blue;
}

p:nth-child(2) {
    background-color: red;
}

p:nth-child(odd) {
    font-weight: bold;
}

.q8897 tbody tr:nth-of-type(odd) {
    background-color: blue;
}

.q8897 tbody tr:nth-of-type(even) {
    background-color: red;
}

.q8900 section img {
    width: 80px;
}

.q8900 section img:first-child {
    width: 100%;
}

.q8901 section p:last-of-type {
    background-color: white;
    color: red;
}

.q8937 img {
    width: 350px;
    height: 100px;
    background-color: pink;
}

.q8937 img:hover {
    border: 3px solid blue;
}

section img:last-child {
    width: 100%;
}

.q8910 section span:last-of-type {
    border: solid red 3px;
}