.titulo_principal{
    background-color: brown;
    text-align: center;
    border-bottom: 2px solid;
    padding: 16px 0;
    width: 100%;
}

.questoes{
    border-top: 1px solid;
    padding: 16px 0 0 8px;
}

pre code {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}


/* //======= QUESTÕES =======// */

.q8907 img{
    width: 250px;
    height: 200px;
}

.q8907 img:hover {
    border-left: 3px solid blue;
}

p:nth-child(2) {
    background-color: red;
}

p:nth-child(odd) {
    font-weight: bold;
}

.q8897 tbody tr:nth-of-type(odd) {
    background-color: blue;
}

.q8897 tbody tr:nth-of-type(even) {
    background-color: red;
}