/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: 'Fraunces', serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
    --light_brown: #c4a47c;
    --white: #fff;
    --black: #000000;
    --brown: #604829;
    --gray: #666;
    --light_gray: #ACACAC;
}

.container{
    width: 100vw;
}

/* topo */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--brown);
}

header img{
    height: 100px;
    margin-left: 15%;
}

.links-topo{
    position: absolute;
    font-family: 'Oswald', sans-serif;
    right: 15%;
    top: 35%;
}

.links-topo a{
    text-decoration: none;
    color: var(--light_brown);
    font-weight: bold;
    text-shadow: 5px 6px 3px var(--black);
    margin-right: 10px;
}

/* banner */
#secao-banner{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/parallax-imagem1.png');
}

h1{
    font-family: 'Fraunces', serif;
    color: var(--white);
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-weight: normal;
}

.container-imagem-parallax{
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* seção informações */
.imagem02{
    background-image: url('../assets/parallax-imagem2.jpg');
    background-color: var(--white);
    height: 50vh;
    width: 100%;
}

.imagem03{
    background-image: url('../assets/parallax-imagem3.jpg');
    background-color: var(--white);
    height: 50vh;
    width: 100%;
}


/* seção contatos seção contatos seção contatos seção contatos seção contatos */
.imagem04{
    background-image: url('../assets/parallax-imagem4.png');
    height: 100vh;
    width: 100%;
}
/* seção horários seção horários seção horários seção horários */
.imagem05{
    background-image: url('../assets/cafeteria.jpg');
    height: 100vh;
    width: 100%;
}

.lista li{
    position: relative;
}

.lista li div{
    width: 70%;
    height: 1px;
    background-color: #acacac;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
}

.lista li p{
    position: absolute;
    top: 0;
    right: 0;
}

/* rodapé rodapé rodapé rodapé rodapé rodapé rodapé rodapé */
footer{
    position: relative;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    padding: 16px;
}

footer a{
    position: absolute;
    background-color: var(--light_brown);
    top: -30px;
    right: 60px;
    height: 65px;
}

footer span{
    color: var(--light_brown);
}

/* PAREI - 2º passo: Especificações do Projeto */

.container-texto{
    /* padding: 80px 80px;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666; */
}


/* 
#secao-informacoes{

}
.container-texto{
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px;
    background-color: var(--white);
}

.container-texto{
    background-color: var(--white);
}
.container-texto h2{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: var(--light_brown);
}
.container-texto p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: var(--gray);
    line-height: 32px;
}




.container-imagem-parallax h3{
    background-color: var(--brown);
    width: 40%;
    font-family: 'Fraunces', serif;
    color: var(--light_gray);
    line-height: 32px;
    text-align: center;
    
}

#secao-contatos h2{
    background-color: var(--brown);
    width: 40%;
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    text-align: center;
}

.box-contatos p{
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 32px;
    width: 50%;
}


#secao-horarios h2{
    font-family: 'Oswald', sans-serif;
    color: var(--white);
} */





/* h2{
    font-family: 'Oswald', sans-serif;
    color: var(--light_brown);
}

h3{
    font-family: 'Fraunces', serif;
    background-color: var(--brown);
    color: var(--white);
    width: 500px;
    padding: 10px;
    top: 45%;
    margin: 0 auto;
}

p{
    font-family: 'Lato', sans-serif;
    color: var(--gray);
} */
