/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
}
:root {
    --light_brown: #c4a47c;
    --white: #fff;
    --black: #000000;
    --brown: #604829;
    --gray: #666;
    --light_gray: #ACACAC;
}