* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: #f1f1f1; */
}

header {
    width: 100%;
    padding: 45px;
    text-align: center;
    font-size: 24px;
    background-color: #f1f1f1;
    margin-bottom: 16px;
}

header h1 {
    border-bottom: 2px solid black;
}

.container {
    padding: 100px 20px;
    background-image: url("./img/imagem-de-fundo.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container h2 {
    margin-bottom: 30px;
}

.listaHorarios {
    width: 100%;
    max-width: 768px;
}

.listaHorarios li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.listaHorarios li div {
    height: 1px;
    background-color: gray;
    flex: 1 1  auto;
}

.listaHorarios li h3 {
    flex: 0 1 80px;
}

.listaHorarios li span , p {
    flex: 0 1 100px;
    text-align: right;
    font-weight: bold;
}

.listaHorarios li span {
    color: #c4a47c;
}