.container_rodape {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container_imagem {
    width: 100px;
}

.container_imagem img{
    width: 100%;
    height: 100%;
}

.container_contato {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.container_contato div {
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 4px;
    flex: 1 1 240px;
    text-align: center;
}

.container_descricao {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container_descricao img {
    width: 40px;
    height: 40px;
    padding-right: 8px;
}

.container_descricao a {
    width: 40px;
    height: 40px;
    background-image: url(./img/seta-para-cima.png);
    background-position: center;
    background-size: cover;
    background-color: #dddddd;
    border-radius: 4px;
    position: absolute;
    right: 0;
    bottom: 85px;
}