
.titulo-principal{
    background-color: brown;
    text-align: center;
    border-bottom: 2px solid;
    padding: 16px 0;
    width: 100%;
}

.questoes{
    border-top: 1px solid;
    padding: 16px 0 0 8px;
}