
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Source Sans pro", sans-serif;
    font-size: 16px;
}

:root {
    --corDaFonte:#0000008c;
    --white:#fff;
    --mediumTurquoise:#00CAD1;
    --teal:#0C6E71;
    --black: #000;
}

/* configurações gerais configurações gerais configurações gerais  */
body{
    width: 100%;
}

.largura_da_pagina {
    width: 1024px;
    margin: 0 auto;
}

/* container topo container topo container topo container topo  */
.container_topo {
    background-color: var(--mediumTurquoise);
    width: 100%;
}

.container_largura_da_pagina {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_link_logo {
    flex: 1 1 50%;
}

.link_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imagem_logo {
    height: 70px;
}

.container_links_topo {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 50%;
}

.link_topo {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding:  8px 0 8px 16px;

    transition: color 0.5s;
}

.link_topo:hover {
    color: var(--corDaFonte);
}

/* container titulo container titulo container titulo container titulo  */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.container_titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url("../assets/img/recepcao.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.titulo {
    text-transform: uppercase;
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    padding-left: 16px;
}

/* container sobre container sobre container sobre container sobre  */
#container_sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 24px 16px;
    color: var(--corDaFonte);
    
}

.box_titulo_sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.box_titulo_sobre h2 {
    font-size: 28px;
}

.box_titulo_sobre p {
    text-align: center;
    line-height: 24px;
}

.box_informacoes_e_imagem_sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box_informacoes_sobre {
    display: flex;
    flex-direction: column;
}

.box_informacoes_sobre h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding: 16px 0;
    text-align: center;
}

.lista_informacoes {
    margin-left: 46px;
    line-height: 24px;
}

/* container especialidades container especialidades container especialidades  */
#container_especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_informacoes_especialidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: var(--corDaFonte);
}

.box_informacoes_especialidades h2 {
    font-size: 20px;
    flex: 1 1 100%;
}

.box_informacoes_especialidades p {
    width: 100%;
    text-align: center;
    line-height: 20px;
}

.cards_especialidades {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 16px;
}

.card {
    width: calc((100% / 3) - 30px);
    box-shadow: 0px 0px 15px var(--corDaFonte);
}

.card img {
    width: 100%;
}

.cards_especialidades figcaption {
    color: var(--corDaFonte);
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0;
    font-weight: 500;
}

.link_ver_horario {
    width: 100%;
    padding: 16px;
    text-align: center;
    margin-top: 24px;
}

.link_ver_horario a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--mediumTurquoise);
    padding: 10px 24px;
}

/* container contato container contato container contato container contato  */
.container_contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    gap: 20px;
    margin-bottom: 24px;
}

.box_informacoes_contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box_informacoes_contato h2 {
    color: var(--corDaFonte);
    font-size: 24px;
}

.box_informacoes_contato p {
    color: var(--corDaFonte);
    text-align: center;
}

.box_informacoes_contato span {
    font-weight: bold;
}

.box_iframe {
    width: 100%;
}

iframe {
    width: 100%;
    height: 400px;
}

/* footer footer footer footer footer footer footer footer footer  */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    padding: 24px 0;
    color: var(--white);
}

.box_informacoes_rodape {
    width: 100%;
    text-align: center;
    line-height: 40px;
}


/* media queries media queries  media queries  media queries  */

/* 425px 425px 425px 425px 425px 425px 425px 425px 425px 425px  */
@media(max-width: 425px){
    .largura_da_pagina {
        width: 100%;
    }

     .container_largura_da_pagina{
        flex-wrap: wrap;
        width: 100%;
    }
    
    .link_logo {
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        border-bottom: 1px solid var(--corDaFonte);
    }
    
    .container_links_topo {
        justify-content: space-around;
        margin: 0 auto;
    }

    .link_topo {
        padding: 8px;
    }

    .container_titulo {
        height: 200px;
    }

    .titulo {
        font-size: 25.5px;
    }

    .cards_especialidades {
        padding: 16px 32px;
    }
    
    .box_informacoes_e_imagem_sobre img {
        display: none;
    }

    .box_informacoes_sobre h3 {
        font-size: 18px;
    }

    .cards_especialidades {
        flex-direction: column;
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }

    .container_contato {
        width: 100%;
    }
}


/* 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px  */
@media (min-width: 426px) and (max-width: 768px){
    .container_topo {
        width: 100%;
        padding: 0 16px;
    }
    
    .largura_da_pagina {
        width: 100%;
    } 
    
    .container_titulo {
        height: 300px;
    }

    .titulo {
        font-size: 38px;
    }
    
    .box_informacoes_e_imagem_sobre img {
        display: none;
    }

    .card {
        width: calc((100% / 2) - 30px);
        box-shadow: 0px 0px 15px var(--corDaFonte);
    }
}

/* 1024px 1024px 1024px 1024px 1024px 1024px 1024px 1024px  */
@media (min-width: 769px) and (max-width: 1024px){
    .container_topo {
        width: 100%;
        padding: 0 16px;
    }

    .largura_da_pagina {
        width: 100%;
    } 
    
    .container_titulo {
        height: 400px;
    }

    .titulo {
        font-size: 39px;
    }
}