* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --white:#fff;
    --snow: #ffffffcc;
    --black: #000000;
    --blackSnow: #000000cc;
    --midnightBlack: #0200006e;
    --gold: #ffdf00;
    --forestGreen: #009c3b;
}

/* Seção Banner Seção Banner Seção Banner Seção Banner Seção Banner  */
.secao_banner {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-family: 'Ysabeau Infant', sans-serif;
}

.secao_banner video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_informacoes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_logo {
    width: 200px;
    height: 200px;
    background-color: var(--black);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_logo::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, var(--gold), var(--forestGreen));
    width: 215px;
    height: 215px;
    border-radius: 100%;
    z-index: -1;
}

.logo_neymar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.container_informacoes h1 {
    color: var(--white);
    text-shadow: 3px 6px 1px var(--black);
    font-size: 58px;
    position: relative;
}

.container_informacoes h1::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    background: linear-gradient(90deg, var(--gold), var(--forestGreen));
    bottom: 2px;
    left: 5px;
    border-radius: 4px;
}

.box_titulo_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3px;
}

.box_titulo_banner img {
    width: 20px;
    margin-bottom: 10px;
}

.container_links {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container_links li {
    width: 100%;
    list-style: none;
    position: relative;
}

.links_redes_sociais {
    text-decoration: none;
    background-color: var(--midnightBlack);
    color: var(--white);
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.links_redes_sociais:hover {
    background-color: var(--white);
    color: var(--black);
}

.imagens_links {
    width: 30px;
    position: absolute;
    left: 8px;
}

/* Seção Estatísticas Seção Estatísticas Seção Estatísticas Seção Estatísticas  */
.secao_estatisticas {
    width: 100%;
    height: 100vh;

    background-image: url('../assets/img/imagem-de-fundo.jpg');
    background-position: center;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.secao_estatisticas h2 {
    color: var(--white);
    text-shadow: 3px 6px 1px var(--black);
    font-size: 74px;
}

.tabela tr th, .tabela tr td {
    padding: 20px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.tabela tr td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabela thead tr th {
    background-color: var(--blackSnow);
    color: var(--white);
}

.tabela tbody tr:nth-of-type(odd) {
    background-color: var(--white);
}

.tabela tbody tr:nth-of-type(even) {
    background-color: var(--blackSnow);
    color: var(--white);
}

.icone_tabela {
    width: 30px;
}