* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: #f1f1f1; */
}

header {
    width: 100%;
    padding: 45px;
    text-align: center;
    font-size: 24px;
    background-color: #f1f1f1;
    margin-bottom: 16px;
}

header h1 {
    border-bottom: 2px solid black;
}

.secaoBanner {
    background-color: #2f86d6;
    padding: 50px 0px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.containerTexto {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1 1 300px;
}

.containerImagem {
    flex: 1 1 468px;
}

.containerImagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}