* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 16px; */
}

body {
    width: 100vw;
}

.header {
    width: 100%;
    min-height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    /* border: 1px solid green; */
}

.larguraPagina {
    max-width: 1024px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.boxTopo {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.linkPousadaSecreta {
    flex: 1 1 350px;
    padding: 16px;
    /* background-color: bisque; */
}

.linksDeNavegacao {
    /* background-color: turquoise; */
    flex: 1 1 350px;
    padding: 16px;
    text-align: end;
}

.linkTopo {
    text-decoration: none;
    padding: 0 16px;
    color: gray;
    font-size: 24px;
}

.linkPousadaSecreta span {
    color: rgb(0, 0, 255);
}

.linksDeNavegacao .linkTopo {
    text-transform: uppercase;
}

.containerPrincipal {
    margin-top: 65px;
    width: 100vw;
    height: 100vh;
    background-image: url(/missao_7/projeto-pousada/assets/img/img-fundo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoContainerPrincipal {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
}

.textoContainerPrincipal h1 {
    font-size:72px;
    padding: 24px;
}

.textoContainerPrincipal p {
    font-size: 36px;
    padding: 16px;
}

.containerApresentacao {
    /* background-color: tomato; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: gray;
}

.tituloDosContainers {
    margin-top: 30px;
    font-size: 32px;
    text-transform: uppercase;
    padding: 16px;
}

.textoDosContainers {
    font-size: 18px;
    padding: 12px;
}

.containerLinksQuartos {
    /* background-color: coral; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 24px;
}

.cardLinksQuartos {
    /* background-color: blueviolet; */
    flex: 1 1 250px;
}

.imagens {
    width: 100%;
}

.cardLinkQuarto {
    /* background-color: burlywood; */
    width: 100%;
    border-bottom: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksCards {
    text-decoration: none;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 24px;
    width: 100%;
}

.iframe {
    width: 100%;
    height: 450px;
    border: 0;
}