.topo {
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #d5960054;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    text-align: center;
}

h1{
    color: rgb(180, 180, 0);
}

.link-topo{
    color:rgb(180, 180, 0);
}