* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --white: #fff;
    --gray: #808080;
    --blue:#0000ff;
    --transparentBlack:hsla(0, 0%, 0%, 0.3);
    --green:#008000;
}

body {
    width: 100vw;
    color: var(--gray);
}

.header {
    width: 100%;
    min-height: 60px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--gray);
}

.larguraPagina {
    max-width: 1024px;
    margin: 0 auto;
}

.boxTopo {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.linkPousadaSecreta {
    flex: 1 1 350px;
    padding: 16px;
}

.linksDeNavegacao {
    flex: 1 1 350px;
    padding: 16px;
    text-align: end;
}

.linkTopo {
    text-decoration: none;
    padding: 0 16px;
    color: var(--gray);
    font-size: 24px;
}

.linkPousadaSecreta span {
    color: var(--blue);
}

.linksDeNavegacao .linkTopo {
    text-transform: uppercase;
}

.containerPrincipal {
    margin-top: 64px;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/img-fundo.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoContainerPrincipal {
    background-color: var(--transparentBlack);
    border: 1px solid var(--white);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 16px;
}

.textoContainerPrincipal h1 {
    font-size:72px;
    padding: 24px;
}

.textoContainerPrincipal p {
    font-size: 36px;
    padding: 16px;
}

.containerApresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: var(--gray);
}

.tituloDosContainers {
    margin-top: 30px;
    font-size: 32px;
    text-transform: uppercase;
    padding: 16px;
}

.textoDosContainers {
    font-size: 18px;
    padding: 12px;
}

.containerLinksQuartos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 24px;
}

.cardImagensQuartos {
    flex: 1 1 250px;
}

.cardImagem {
    display: flex;
    justify-content: center;
}

.imagens {
    width: 312px;
    height: 195px;
}

.cardLinkQuarto {
    width: 100%;
    border-bottom: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksCards {
    text-decoration: none;
    text-align: center;
    color: var(--gray);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 24px;
    width: 100%;
}

.iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.containerSobreCards {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.cardSobre {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 492px;
    height: 150px;
}

.textoCardSobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.imagensCards {
    height: 100%;
    width: 120px;
}

.footer {
    background-color: var(--green);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.containerDadosRodape {
    border-bottom: 1px solid var(--gray);
    padding: 32px 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardLinksRodape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex: 1 1 236px;
}

.imagemRodape {
    height: 45px;
    padding-right: 8px;
}

.cardLinksRodape .linkRodape a {
    text-decoration: none;
    color: var(--white);
}

.containerCopyRightRodape {
    width: 100%;
    padding: 24px;
    text-align: center;
    font-weight: bolder;
}