@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    padding: 45px;
    text-align: center;
    font-size: 24px;
    background-color: #f1f1f1;
    margin-bottom: 16px;
}

header h1{
    border-bottom: 2px solid black;
}

.topo {
    width: 100%;
    text-align: center;
    font-size: 24px;
    background-color: white;
    margin-bottom: 16px;
}

.topo span{
    font-size: 18px;
    color: springgreen;
}

.main {
    background-color: #f1f1f1;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card-produto {
    box-shadow: 2px 2px 10px black;
    border-radius: 4px;
    flex: 1 1 300px;
}

.container-imagem {
    height: 200px;
}

.container-imagem img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.container-info {
    padding: 0px 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-info h3 {
    font-size: 18px;
}

.container-preco {
    padding: 10px;
    border-top: 1px solid #c9c4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-icone {
    padding: 5px;
    border: 1px solid #c9c4c4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}