.titulo_principal{
    background-color: brown;
    text-align: center;
    border-bottom: 2px solid;
    padding: 16px 0;
    width: 100%;
}

.questoes{
    border-top: 1px solid;
    padding: 16px 0 0 8px;
}

pre code {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

img {
    width: 250px;
}

p {
    padding: 16px;
    text-align: justify;
    line-height: 24px;
}


@media only screen {
    .text-item { font-size: 18px; }
}

@media only print {
    .text-item { font-size: 12px; }
}