* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: peru;
}

.bannerSection {
    background-image: url('../img/banner-topo.jpg');
}

.titleContainer {
    border: 2px solid red;
}