* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root {
    --roxo: #3c184e;
    --branco: #fff;
    --sombreado: #1f26875e;
    --sombreadoImagens: #0000005c;
    --transparencia: #ffffffc4;
}

/* bannerSection bannerSection bannerSection bannerSection bannerSection */
.bannerSection {
    background-image: url('../img/banner-topo.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 120px 80px;
}

.logoContainer {
    color: var(--roxo);
    max-width: 250px;
}

.firstParagraphOfTheLogo {
    font-size: 35px;
    margin-bottom: 0 0 5px 0;
}

.logoImage {
    width: 30px;
    margin-right: 5px;
}

.secondParagraphOfTheLogo {
    font-size: 14px;
    text-align: center;
}

.titleContainer {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: var(--transparencia);
    box-shadow: 0 8px 32px var(--sombreado);
}

.titleContainer h1 {
    color: var(--roxo);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 40px;
}

.titleParagraph {
    color: var(--branco);
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--roxo);
    font-size: 20px;
    text-align: center;
}

.contactUsButton {
    color: var(--branco);
}

.whatsappImage {
    width: 20px;
}

/* servicesSection servicesSection servicesSection servicesSection */
.servicesSection {
    color: var(--roxo);
    width: 100%;
    padding: 120px 80px;
}

.servicesSectionTitle {
    font-size: 36px;
    text-align: center;
    margin: 0 0 45px 0;
}

.containerServiceList {
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.services {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.services span {
    font-style: italic;
    font-weight: 700;
}

.serviceImageContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.serviceImages {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px var(--sombreadoImagens);
}

/* socialNetworksSection socialNetworksSection socialNetworksSection socialNetworksSection */
.socialNetworksSection {
    color: var(--branco);
    padding: 120px 80px;
    background-color: var(--roxo);
    text-align: center;
}

.socialMediaParagraph {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: var(--branco);
    text-align: center;
}

.socialMediaParagraph span {
    font-weight: 700;
    font-style: italic;
}

.socialMediaLinksContainer {

}

.socialMediaImages {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

/* brandsSection brandsSection brandsSectionbrandsSectionbrandsSection brandsSection brandsSection */
.brandsSection {
    width: 100%;
    padding: 120px 80px;
}

.brandSectionTitle {
    font-size: 36px;
    text-align: center;
    margin: 0 0 45px 0;
    color: var(--roxo);
}

.brandImageContainers {
    max-width: 800px;
    margin: 0 auto;
}

.brandImages {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

/* whereAreWeSection whereAreWeSection whereAreWeSection whereAreWeSection whereAreWeSection */
.whereAreWeSection {
    color: var(--roxo);
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}

.sectionTitleWhereWeAre {
    font-size: 36px;
    text-align: center;
    margin: 0 0 45px 0;
}

.paragraphOfTheSectionWhereWeAre {
    font-size: 20px;
    text-align: center;
    margin: 0 0 45px 0;
}

.iframeMapa {
    width: 800px;
    height: 450px;
}

/* footerSection footerSection footerSection footerSection footerSection footerSection */
.footerSection {
    color: var(--branco);
}

.footerSection a {
    color: var(--branco);
    font-weight: bold;
}